@charset "UTF-8";
body{
	
}
section{
	margin: 50px 50px;
}
div{
	margin: auto;
}
.padding{
	padding: 10px 130px 20px 100px;
}

.flex-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	flex-flow: row;
	
}
.primary-font{
	font-family:"Roboto", "sans-serif";
}

.secondary-font{
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
} 

.color-item {
	list-style-type: none;
	display: inline-block;
  	height: 150px;
  	width: 150px;
  	background-color: #555;
	margin: 10px;
	
}
