@charset "UTF-8";
section{
	margin: 50px 50px;
}



article {
	width: 600px;
    margin: 25px;
    display: block;
    unicode-bidi: isolate;
}

div{
	margin: auto;
}
hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #000000;
   
}


li{
	color:#FFFFFF;
	font-family:"Inter", "sans-serif";
	font-size: 14px;
	line-height: 10px;
	text-align: center;
}
	
.padding{
	padding: 10px 130px 20px 100px;
}

.flex-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	flex-direction: row;
	
}
.color-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.primary-font{
	font-family:"Bricolage Grotesque", "sans-serif";
}

.secondary-font{
	font-family:"Inter", "sans-serif";
} 

.color-one{
		list-style-type: none;
	display: inline-block;
  	height: 150px;
  	width: 550px;
  	background-color: #5546e7;
	margin: 10px;
	text-align: center; 
	}
.color-two{
	list-style-type: none;
	display: inline-block;
  	height: 150px;
  	width: 250px;
  	background-color: #f3bb0f;
	margin: 10px;
	
}

.color-three{
	list-style-type: none;
	display: inline-block;
  	height: 150px;
  	width: 100px;
  	background-color: #e15130;
	margin: 10px;
	
}
